/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vagrant
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vagrant/machines/ccom/virtualbox/action_set_name
.vagrant/machines/ccom/virtualbox/action_provision
.vagrant/machines/ccom/virtualbox/private_key
.vagrant/machines/ccom/virtualbox/id
.vagrant/machines/ccom/virtualbox/box_meta
.vagrant/machines/ccom/virtualbox/index_uuid
.vagrant/machines/ccom/virtualbox/synced_folders
.vagrant/machines/ccom/virtualbox/vagrant_cwd

