// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.red {
    color: $red;
}

.green {
    color: $green;
}

.select2-selection__placeholder {
    font-size: 1rem;
}

.table_error {
    td {
        border: red 2px solid;
    }
}

.is-invalid {
    border: red 2px solid;
}

.is-error {
    .v-select {
        border: red 1px solid !important;
    }
}
